// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $background-color;
  color: $font-color;
  background-position: bottom;
  // position: relative;
  background: url('../images/matterhorn1.jpg') ; // center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-repeat: repeat-x;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

img {
  text-align: center;
  margin: 0 auto;
  padding: auto;
  display:block;
}

#logInButton {
  text-align: center;
  width: 100px;
}

#myModal {
  color: $background-color;
  // height: 100%;
  // width: 100%;
}

// #spacer1 {
//   text-align: center;
// }

.spacer {
  height: 5px;
}

.col-lg-12 {
  height: 50px;
}

.errors-create-item {
  background-color: $box-background-color;
}

// .scoreRowBoard {
//   text-align: center;
//   // height: 200px;
//   width: 200px;
// }

// .game-update {
//   background-color: $box-background-color;
//   font-size: 14px;
//   border: #000 solid;
//   height: 68px;
//   width: 68px;
//   text-align: center;
//   padding: 0;
//   margin: 0 auto;
// }

// #game-create-new {
//   clear: both;
// }

// .board {
//   float: left;
//   padding: 0;
//   margin: 0 auto;
//   overflow: hidden;
//   // max-width: 350px;
// }
